@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main {
    padding: 20px;
}
.cards_container {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center the content horizontally */
    padding: 15px 0;
    margin: 0 auto; /* Center the container itself */
}

.card {
    width: calc((100% - 60px) / 3); /* Adjusted for three cards with 20px gap each */
    min-width: 190px;
    margin: 0 10px 20px; /* Adjust margins to create gaps between cards */
    display: flex;
    flex-direction: column; /* Ensures figcaption is below the image */
    overflow: hidden; /* Ensure content doesn't overflow */
}

@media (min-width: 651px) and (max-width: 749px) {
    .cards_container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

@media (max-width: 650px) {
    .cards_container {
        grid-template-columns: 1fr; /* One column */
    }
}

.card:hover img {
    opacity: 0.8;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 0.75;
    object-fit: cover; /* Ensures the image covers the entire card without distortion */
    display: block;
}

.portfolio-modal {
    position: fixed;
    z-index: 10;
    top: 2em;
    bottom: 0;
    left: 12em;
    right: 12em;
    background: white;
    box-shadow: 0px 0px 30px 2em rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: overlay;
    cursor: default;
    display: none;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-close img {
    width: 24px;
    height: 24px;
}

.portfolio-header, .portfolio-content {
    margin-bottom: 20px;
}

.portfolio-title-box {
    text-align: center;
}

.portfolio-title {
    margin: 0;
}

.portfolio-subtitle {
    margin: 0;
    color: #666;
}